body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .hlw {
 
    background-image: url("./hi.jpg");
  
    filter: blur(4px);
    -webkit-filter: blur(4px);
  
   
    height: 100%;
  
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bio{
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.4);
color: rgb(147, 12, 12);
font-weight: bold;
border: 3px solid #d25dbb;
position: absolute;
top: 10%;
left: 30%;
transform: translate(-50%, -50%);
z-index: 2;
width: 50%;
padding: 10px;
text-align: center;
display: flex;
}

.para{
  
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: rgb(26, 174, 48);
    font-weight: bold;
    border: 3px solid #1d3393;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}